<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Image store in database</display-name>
  <welcome-file-list>
    <welcome-file>addImage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddImageServlet</display-name>
    <servlet-name>AddImageServlet</servlet-name>
    <servlet-class>som.img.servlet.AddImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImageServlet</servlet-name>
    <url-pattern>/AddImageServlet</url-pattern>
  </servlet-mapping>
</web-app>